<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs Page</title>
    <!-- <link rel="stylesheet" href="https://kit.fontawesome.com/93a00c0544.css" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header">
                <img src="../static/images/background.jpg" alt="">
            </div>
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="blogs.html">Blogs</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="send-message.html">Contact</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div class="main" style="margin-bottom: 3%;">
                <div class="left-sidebar">
                </div>
                <div class="main-content">
                    <div class="row">
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/sms/Screenshot_20230114_120933.png" alt="">
                                    <span class="tag">Java</span>
                                    <span class="tag">Java-FX</span>
                                    <span class="tag">Student Management System</span>
                                    
                                    <div class="title">Student Management System Using Java GUI</div>
                                    <p class="card-desc">ligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/java/Screenshot_20230205_111210.png" alt="">
                                    <span class="tag">Java Programming</span>
                                    <span class="tag">Advance Java</span>
                                    <span class="tag">Java Core</span>
                                    
                                    <div class="title">More About Core & Advance Java</div>
                                    <p class="card-desc">Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/sms/Screenshot_20230114_120933.png" alt="">
                                    <span class="tag">Java</span>
                                    <span class="tag">Java-FX</span>
                                    <span class="tag">Student Management System</span>
                                    
                                    <div class="title">Student Management System Using Java GUI</div>
                                    <p class="card-desc">ligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/java/Screenshot_20230205_111210.png" alt="">
                                    <span class="tag">Java Programming</span>
                                    <span class="tag">Advance Java</span>
                                    <span class="tag">Java Core</span>
                                    
                                    <div class="title">More About Core & Advance Java</div>
                                    <p class="card-desc">Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/sms/Screenshot_20230114_120933.png" alt="">
                                    <span class="tag">Java</span>
                                    <span class="tag">Java-FX</span>
                                    <span class="tag">Student Management System</span>
                                    
                                    <div class="title">Student Management System Using Java GUI</div>
                                    <p class="card-desc">ligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/java/Screenshot_20230205_111210.png" alt="">
                                    <span class="tag">Java Programming</span>
                                    <span class="tag">Advance Java</span>
                                    <span class="tag">Java Core</span>
                                    
                                    <div class="title">More About Core & Advance Java</div>
                                    <p class="card-desc">Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/sms/Screenshot_20230114_120933.png" alt="">
                                    <span class="tag">Java</span>
                                    <span class="tag">Java-FX</span>
                                    <span class="tag">Student Management System</span>
                                    
                                    <div class="title">Student Management System Using Java GUI</div>
                                    <p class="card-desc">ligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/java/Screenshot_20230205_111210.png" alt="">
                                    <span class="tag">Java Programming</span>
                                    <span class="tag">Advance Java</span>
                                    <span class="tag">Java Core</span>
                                    
                                    <div class="title">More About Core & Advance Java</div>
                                    <p class="card-desc">Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/sms/Screenshot_20230114_120933.png" alt="">
                                    <span class="tag">Java</span>
                                    <span class="tag">Java-FX</span>
                                    <span class="tag">Student Management System</span>
                                    
                                    <div class="title">Student Management System Using Java GUI</div>
                                    <p class="card-desc">ligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/java/Screenshot_20230205_111210.png" alt="">
                                    <span class="tag">Java Programming</span>
                                    <span class="tag">Advance Java</span>
                                    <span class="tag">Java Core</span>
                                    
                                    <div class="title">More About Core & Advance Java</div>
                                    <p class="card-desc">Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                    </div> 
                    <div class="row">
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                    </div> 
                    <div class="row">
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                        <div class="col">
                            <div class="card-details">
                                <div class="card">
                                    <img src="../static/images/matebook/Screenshot 2023-03-10 154952.png" alt="">
                                    <span class="tag">mateBook</span>
                                    <span class="tag">Web-design</span>
                                    <span class="tag">Facebook</span>
                                    
                                    <div class="title">100 mins of UI design</div>
                                    <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora vel, eligendi assumenda nisi dolorem quia, et quas magni minus delectus aperiam facere dolores saepe expedita doloribus officiis architecto at!</p>
                                    <button>Read More..</button>
                                </div>
                            </div>
                        </div>  
                    </div>              
                </div>

                <div class="right-sidebar">
                </div>

            </div>
        </main>

        <footer id="footer">
            <div class="footer">
                <div class="footer-1">
                    <h2 style="margin-bottom: 5px;">Query:-</h2>
                    <p style="margin-bottom: 5px;">If Any topic missing or you want to know more about any topic then mail us</p>
                    <span><i class="fas fa-regular fa-envelope" style="margin-right:10px;"></i>nayemuddincucse@gmail.com</span>
                </div>
                <div class="footer-2">
                    <h2 style="margin-bottom: 5px;">Follow me on</h2>
                    <span class="icon" title="Instagram" style="cursor:pointer;"><i class="fa-brands fa-instagram"></i></span>
                    <span class="icon" title="Facebook" style="cursor:pointer;"><i class="fa-brands fa-facebook"></i></span>
                    <span class="icon" title="Twitter" style="cursor:pointer;"><i class="fa-brands fa-twitter"></i></span>
                    <span class="icon" title="LinkedIn" style="cursor:pointer;"><i class="fa-brands fa-linkedin"></i></span>
                </div>
            </div>
       </footer>


       <script src="https://kit.fontawesome.com/93a00c0544.js" crossorigin="anonymous"></script>
</body>
</html>